---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Icon from "astro-icon";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aukusti Website</title>
  </head>
  <body>
    <div class="w-screen min-h-screen md:mx-auto bg-white bg-cover">
      <div class="min-h-screen">
        <nav class="py-10 mb-12 flex justify-between">
          <h1 class="text-4xl text-orange-500">Web developer</h1>
          <ul class="flex items-center">
            <li>nightmode</li>
          </ul>
        </nav>
        <main class="flex justify-center">
          <div class="w-1/2 p-10 rounded-md overflow-hidden shadow-xl">
            <div class="text-center">
              <p class="text-4xl text-orange-500">Aukusti Palomäki</p>
              <p class="text-3xl text-gray-700">Front-end enjoyer</p>
              <p class="text-2xl text-gray-700">
                life full of music and books to read<br /> while discovering the
                wide web
              </p>
            </div>
            <div class="text-3xl m-10 py-3 flex justify-center gap-10">
              <a href="https://github.com/daupa001xamk" target="_blank"
                ><Icon
                  class="hover:-translate-y-1 hover:scale-150 duration-500 hover:bg-orange-600 hover:rounded-lg hover:h-20"
                  name="mdi:github"
                  width="3rem"
                  height="3rem"
                /></a
              >
              <a href="" target="_blank">
                <Icon
                  class="hover:-translate-y-1 hover:scale-150 duration-500 hover:bg-orange-600 hover:rounded-lg hover:h-20"
                  name="mdi:linkedin"
                  size="3rem"
                /></a
              >
              <a href="https://www.last.fm/user/MrAkuu" target="_blank"
                ><Icon
                  class="hover:-translate-y-1 hover:scale-150 duration-500 hover:bg-orange-600 hover:rounded-lg hover:h-20"
                  name="fa-brands:lastfm-square"
                  width="2.8rem"
                  height="2.8rem"
                /></a
              >
            </div>
          </div>
        </main>
      </div>
    </div>
  </body>
</html>
